<div class="jumbotron">
  <div class="container">
    <h1>Welcome to the ClubHouse</h1>
      <p>View embarassing posts by unknown authors, or join to post your own and see who could be talking about you ;)</p>

        <%= link_to "Sign up now »", signup_path, class: "btn btn-primary btn-lg" %>
  </div>
</div>

<section class="call-to-action">
<div class="container">
	<div class="row">
		<div class="col-md-4">
			<span class="glyphicon glyphicon-pencil glyphicon-large" aria-hidden="true"></span>
			<h3>Spill Secrets</h3>
			<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
		</div>
		<div class="col-md-4">
			<span class="glyphicon glyphicon-eye-open glyphicon-large" aria-hidden="true"></span>
			<h3>See who's posting</h3>
			<p>Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. Lorem ipsum dolor.</p>
		</div>
		<div class="col-md-4">
			<span class="glyphicon glyphicon-sunglasses glyphicon-large" aria-hidden="true"></span>
			<h3>Anonymous to outside users</h3>
			<p>Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
		</div>
	</div>
</div>
</section>
