@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background: #3E4649;
  color: #f7f7f7;
  font-family: 'Montserrat', sans-serif;
  h1,
  h2 {
  	font-weight: bold;
  }
  p {
  	font-size: 16px;
  	color: #cdcdcd;
  }
}

.navbar {
  margin-bottom: 0;
  padding: 0 3% 0 3%;
}

.navbar-inverse {
	background: #2E2F31;
	border: 0;
}
.navbar-inverse .navbar-nav li a {
	color: #f7f7f7;
	font-size: 16px;
}
.navbar-inverse .navbar-nav li a:hover {
	background: #27A967;
}

.jumbotron {
	background: #27A967;
	color: #fff;
	text-align: center;
  width: 100%;
  p {
    color: #fff;
    font-size: 26px;
  }
}

.container {
  width: 100%;
  padding: 0;
}

.container .jumbotron, .container-fluid .jumbotron {
  border-radius: 0;
}

.btn-primary {
	color: #fff;
	background-color: transparent;
	border-color: #fff;
	margin-bottom: 5px;
}
.btn-primary:hover {
	color: #27A967;
	background-color: #fff;
	border-color: #fff;
}

.call-to-action {
	text-align: center;
  p {
    margin-bottom: 30px;
  	font-family: sans-serif;
  }
}

.glyphicon-large {
	font-size: 90px;
}

.posts {
  .jumbotron {
    margin-bottom: 0;
    text-align: center;
  }
  h1 {
    text-align: center;
    margin-bottom: 4%;
  }
  p, h2 {
    padding-left: 2%;
  }
}

.background {
  margin: 0 2% 0 2%;
  .border {
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
  }
}

.container-main {
  margin: 1% 10% 1% 10%;
}

.register-link a {
  color: #3E4649;
}
